.section-3 .container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 110px;
}

.section-3 .container .gradient-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-3 .list-solution {
    list-style: none;
    display: flex;
    gap: 24px;
}

.section-3 .list-solution .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 24px;
    border: 1px solid rgba(245, 238, 222, 0.12);
    border-radius: 8px;
}

.section-3 .list-solution .card .number {
    color: var(--color-second);
    font-family: var(--font-mono);
    font-size: 12px;
    letter-spacing: 0.96px;
}

.section-3 .list-solution .card img {
    width: 32px;
    height: 32px;
}

.section-3 .list-solution .card .title-card {
    color: var(--color-white);
    font-family: var(--font-syne);
    font-size: 20px;
    font-weight: 400;
}

.section-3 .list-solution .card .subtitle-card {
    color: rgba(245, 238, 222, 0.70);
    font-family: var(--font-mono);
    font-size: 13px;
    line-height: 20px;
}
